# Frontend
VITE_TURNSTILE_SITE_KEY=pishposh-turnstile-site-key
VITE_API_BASE_URL=/api

# Backend
PORT=3001
API_BASE_URL=/api
APP_URL=http://localhost:5173
DATABASE_URL=postgresql://pishposh:pishposh@localhost:5432/pishposh

ACCESS_TOKEN_SECRET=pishposh-access-token-secret
REFRESH_TOKEN_EXPIRY_MS=604800000 # 7 days

TURNSTILE_SECRET_KEY=pishposh-turnstile-secret-key
TURNSTILE_VERIFY_URL=https://challenges.cloudflare.com/turnstile/v0/siteverify

RESEND_API_KEY=pishposh-resend-api-key
EMAIL_FROM="PishPosh <noreply@pishposh.app>"
EMAIL_VERIFICATION_TOKEN_EXPIRY_MS=172800000 # 2 days
